body,html{
    background-color: #0F0715;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: white;
    padding-top: 40px;
}

.NavBarFont{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.heroFont{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heroHeight{
    width: 500px;
}

.heroHeight:hover{
    box-shadow: 0 8px 16px rgba(242, 210, 2, 0.2);
    transform: scale(1.1); 
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    background-color: yellow;
}

.Hover:hover{
    box-shadow: 0 8px 16px rgba(242, 210, 2, 0.2);
    transform: scale(1.1); 
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    background-color: hotpink;
}

.HoverProject:hover{
    box-shadow: 0 8px 16px rgba(44, 44, 42, 0.2);
    transform: scale(1.04); 
    transition: all 0.1s ease-in-out;
    background-color: #0F0715;
}